<div class="container" style="padding-top: 4rem;">
  <div class="row">
    <h1>Listings</h1>
  </div>
</div>

<div class="container col-6 border border-dark rounded-pill">
    <div class="d-flex  justify-content-center">
      <div class="p-2"> Display all Listings</div>
            <div class="p-2"> | </div>
      <div class="p-2 flex-grow-1"><%= link_to "Add New Listing", new_listing_path %></div>
    </div>
</div>

  <div class="container">
    <% current_user.listings.each do |listing| %>
      <div class="card">
      <% listing.images.each do |image| %>
        <div class="card-image"><%= cl_image_tag image.key, height: 100, width: 100, crop: :fill %></div>
      <% end %>
        <h2 class="text-dark">
          <%= link_to listing.name, listing_path(listing), class: "text-dark" %>
        </h2>
        <h2><%#= listing.name %></h2>
        <p><%= listing.location %></p>
        <p><%= listing.details %></p>
        <p><strong>$<%= listing.price %>SGD</strong> night</p>
        <%= link_to "View Reservations", hosting_path, class: "btn btn-gradient bg-danger bg-gradient text-light" %>
  </div>
    <% end %>
</div>
