<div class="container">
  <div class="row">
    <h1 class="text-center mb-4">Listings</h1>
  </div>
</div>

<div class="container col-6 border border-dark rounded-pill mb-4">
    <div class="d-flex justify-content-center">
      <div class="p-2"> Display all Listings</div>
            <div class="p-2"> | </div>
      <div class="p-2 flex-grow-2"><%= link_to "Add New Listing", new_listing_path %></div>
            <div class="p-2"> | </div>
      <div class="p-2 flex-grow-2"><%= link_to "View Reservations", hosting_path %></div>
    </div>
</div>

<div class="container justify-content-center d-flex p-8">
  <div class="display-grid">
    <% @listings.each do |listing| %>
      <div class="listings flex-column mx-2">
        <div style="position: relative">
          <% listing.images.each do |image| %>
            <%= cl_image_tag image.key, style:'object-fit: cover; width: 18vw; height: 18vw; border-radius: 12px;'%>
          <% end %>        
        </div>
            <div class="listing-header d-flex align-items-center" style="justify-content: space-between">
              <h2><%= link_to listing.name, listing_path(listing), class: "text-dark text-decoration-none" %></h2>
                <div class="listing-rating">
                  <i class="fa-solid fa-star"></i>
                  <span>3.9</span>
                </div>
            </div>
              <p><%= listing.location %></p>
              <p><%= listing.details %></p>
              <p><b>$<%= listing.price %></b> per night</p>
      </div>
    <% end %>
  </div>
</div>