<div class="container">
  <%# Header component here %>
  <h1><%= @listing.name %></h1>

  <div class="header-row">
    <p> <i class="fa-solid fa-star"></i> <%= "4.92 · Superhost · " + @listing.location %></p>
    <p>
      <button type="button" class="btn btn-outline-dark">
        <i class="fa-solid fa-share"></i> Share
      </button>

      <button type="button" class="btn btn-outline-dark">
        <i class="fa-regular fa-heart"></i> Save
      </button>
    </p>
  </div>

  <%# Listing Images here %>
  <div class="images--flex p-1">
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
    <div class="images--flex__inner">
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'obect-fit: cover;'%>

    </div>
  </div>



  <%# Listing information here %>
  <%# // LEFT COLUMN //  %>
  <div class="row">
    <div class="col-md-7">

      <%# Listing Title %>
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom my-3 pb-3">
        <div>
          <h2>Room in Paris hosted by Moinho</h2>
          <p> · 2 guests · 1 bedroom · 1 bed · 1 bathroom</p>
        </div>

        <%= image_tag 'logo.png', class: 'avatar' %>
      </div>

      <%# Listing Details %>
      <div class="d-flex align-items-center justify-content-start pb-3">
        <i class="fa-solid fa-person-shelter"></i>
        <div class="ms-3">
          <strong>Room in a home</strong>
          <p class="mb-0">Your own room in a home, plus access to shared spaces.</p>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-start pb-3">
        <i class="fa-solid fa-wifi"></i>
        <div class="ms-3">
          <strong>Dedicated workspace</strong>
          <p class="mb-0">A room with wifi that’s well suited for working.</p>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-start border-bottom my-3 pb-3">
        <i class="fa-solid fa-xmark"></i>
        <div class="ms-3">
          <strong>Free cancellation for 48 hours.</strong>
        </div>
      </div>

      <%# Meet your Host %>
      <div class="d-flex align-items-center justify-content-start border-bottom mb-3">
        <div class="mb-4">
          <h4>Meet your Host</h4>
          <strong>Eduoard</strong>
          <p class="mb-0">I love music (from early to electronic), I love theatre, film, dance, literature. I like to go mountain biking, hiking, and horseback riding when I can. I love animals, but I prefer that they live in the wild. I'm a visual artist, working mostly on participatory projects. I enjoy meeting new people and sharing some moments of my day with guests.</p>
        </div>
      </div>

      <%# About this place %>
      <div class="d-flex align-items-center justify-content-start border-bottom mb-3">
        <div class="mb-4">
          <h4>About this place</h4>
          <p><%= @listing.name %> is a charming spacious double bedroom and ensuite shower room. Located in the <%= @listing.location %> </p>
          <p class="mb-0">The house is Grade II listed building, dated around 1600. It has full of character, with beautiful garden. Recently refurbished space, with charming decor, the room is a perfec...</p>
          <br>
          <a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>

      <%# Where you'll sleep %>
      <div class="row border-bottom pb-3 mb-3">
        <h4>Where you'll sleep</h4>
        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-bed fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Bedroom 1</h5>
              <p class="card-text">1 king bed</p>
            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-bed fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Bedroom 2</h5>
              <p class="card-text">1 king bed</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-couch fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Living Room</h5>
              <p class="card-text">1 sofa</p>
            </div>
          </div>
        </div>
      </div>

      <%# List of amenities %>
      <div class="">
        <h4 class="pb-4">What this place offers</h4>
        <div class="row">

          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Fast wifi – 155 Mbps</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Free parking on premises</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Private patio</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Garden view</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Kitchen</li>
            </ul>
          </div>

          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> 22" TV with Chromecast</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Washing machine</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Dryer</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Security cameras on property</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Hair dryer</li>
            </ul>
          </div>
        </div>
        <br><button type="button" class="btn btn-outline-dark btn-block">Show all 48 amenities</button>
        <br>
      </div>

      <%# Where you'll be%>
      <div class="d-flex align-items-center justify-content-start border-top mt-3">
        <div class="mb-4 mt-4">
          <h4>Where you'll be</h4>
          <img src="https://api.mapbox.com/styles/v1/mapbox/outdoors-v11/static/-122.4515,37.7289,11.62,0/306x200?access_token=pk.eyJ1IjoiYW50bGVyc2FuZGxhZGRlciIsImEiOiJjbGozdWk3cnExbHMxM2t0OHlzbHIzanAzIn0.PgGIqib-qcb-ZHKUdFRBXw">
          <p></p>
          <p><strong><%= @listing.location %></strong></p>
          <p>Beautiful village of <%= @listing.name %> is only 10 minutes walk. You can find a good selection of independent shops, coffee shop, tea rooms, pubs and restaurants or simply enjoying scenic walk at your doorstep.</p>
          <p>...</p>
          <a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>
    </div>


  <%# // RIGHT COLUMN // %>
    <div class="col-md-5">

        <%# Reservation Form here %>
        <div class="col-md-4">
          <div class="card px-5 py-5" >
            <form>
              <div class="form-group">
                <h5><b>$<%= @listing.price %></b>  night</h5>
                <i class="fa-solid fa-star">4.5 . <span class="reviews">80 reviews</span></i>
              </div>
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

              <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>

              <%= link_to "Reserve", new_listing_reservation_path(@listing), class: "btn btn-flat btn-red" %>

            </form>
              <div class="text-center py-4">You won't be charged yet</div>
          </div>
        </div>
    </div>
  </div>


<%# Things to know %>
<div class="container border-top border-bottom">
  <h4 class="pt-2">Things to know</h4>
    <div class="row">

      <div class="col-sm">
      <strong>House rules</strong>
      <br>Check-in: 2:00 pm – 11:00 pm
      <br>Checkout before 10:00 am
      <br>4 guests maximum
      <br><a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="col-sm">
      <strong>Safety & property</strong>
      <br>Carbon monoxide alarm
      <br>Smoke alarm
      <br>Not suitable for infants (under 2 years)
      <br><a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="col-sm">
      <strong>Cancellation policy</strong>
      <br>Free cancellation before 10 Aug.
      <br>Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.
      <br><a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
      </div>

    </div> <%#  I AM JUST PUTTING THIS LINE HERE TO SAY ITS THE LATEST %>
</div>
