<div class="container">
  <%# Header component here %>
  <h1><%= @listing.name %></h1>

  <div class="header-row">
    <p> <i class="fa-solid fa-star"></i> <%= "4.92 · Superhost · " + @listing.location %></p>
    <p>
      <button type="button" class="btn btn-outline-dark">
        <i class="fa-solid fa-share"></i> Share
      </button>

      <button type="button" class="btn btn-outline-dark">
        <i class="fa-regular fa-heart"></i> Save
      </button>
    </p>
  </div>

  <%# Listing Images here %>
  <div class="images--flex p-1">
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
    <div class="images--flex__inner">
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'object-fit: cover;'%>
      <%= cl_image_tag @listing.images[0].key, style:'obect-fit: cover;'%>

    </div>
  </div>



  <%# Listing information here %>
  <%# // LEFT COLUMN //  %>
  <div class="row d-flex flex-start">
    <div class="col-md-7">
      <%# Listing Title %>
      <div class="d-flex align-items-center justify-content-between w-100 border-bottom my-3 pb-3">
        <div>
          <h2>Room in Paris hosted by Moinho</h2>
          <p> · 2 guests · 1 bedroom · 1 bed · 1 bathroom</p>
        </div>

        <%= image_tag 'logo.png', class: 'avatar' %>
      </div>

      <%# Listing Details %>
      <div class="d-flex align-items-center justify-content-start pb-3">
        <i class="fa-solid fa-person-shelter"></i>
        <div class="ms-3">
          <strong>Room in a home</strong>
          <p class="mb-0">Your own room in a home, plus access to shared spaces.</p>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-start pb-3">
        <i class="fa-solid fa-wifi"></i>
        <div class="ms-3">
          <strong>Dedicated workspace</strong>
          <p class="mb-0">A room with wifi that’s well suited for working.</p>
        </div>
      </div>

      <div class="d-flex align-items-center justify-content-start border-bottom my-3 pb-3">
        <i class="fa-solid fa-xmark"></i>
        <div class="ms-3">
          <strong>Free cancellation for 48 hours.</strong>
        </div>
      </div>

      <%# Meet your Host %>
      <div class="d-flex align-items-center justify-content-start border-bottom mb-3">
        <div class="mb-4">
          <h4>Meet your Host</h4>
          <strong>Eduoard</strong>
          <p class="mb-0">I love music (from early to electronic), I love theatre, film, dance, literature. I like to go mountain biking, hiking, and horseback riding when I can. I love animals, but I prefer that they live in the wild. I'm a visual artist, working mostly on participatory projects. I enjoy meeting new people and sharing some moments of my day with guests.</p>
        </div>
      </div>

      <%# About this place %>
      <div class="d-flex align-items-center justify-content-start border-bottom mb-3">
        <div class="mb-4">
          <h4>About this place</h4>
          <p><%= @listing.name %> is a charming spacious double bedroom and ensuite shower room. Located in the <%= @listing.location %> </p>
          <p class="mb-0">The house is Grade II listed building, dated around 1600. It has full of character, with beautiful garden. Recently refurbished space, with charming decor, the room is a perfec...</p>
          <br>
          <a href="#" class="link-dark">Show more</a> <i class="fa-solid fa-chevron-right"></i>
        </div>
      </div>

      <%# Where you'll sleep %>
      <div class="row border-bottom pb-3 mb-3">
        <h4>Where you'll sleep</h4>
        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-bed fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Bedroom 1</h5>
              <p class="card-text">1 king bed</p>
            </div>
          </div>
        </div>


        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-bed fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Bedroom 2</h5>
              <p class="card-text">1 king bed</p>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card" style="width: 100%;">
            <div class="card-body text-center">
              <i class="fa-solid fa-couch fa-2x"></i>
              <h5 class="card-title mt-3 mb-0">Living Room</h5>
              <p class="card-text">1 sofa</p>
            </div>
          </div>
        </div>
      </div>

      <%# List of amenities %>
      <div class="">
        <h4 class="pb-4">What this place offers</h4>
        <div class="row">

          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Fast wifi – 155 Mbps</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Free parking on premises</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Private patio</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Garden view</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Kitchen</li>
            </ul>
          </div>

          <div class="col">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> 22" TV with Chromecast</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Washing machine</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Dryer</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Security cameras on property</li>
              <li class="list-group-item"><i class="fa-solid fa-person-dots-from-line"></i> Hair dryer</li>
            </ul>
          </div>
        </div>
        <br><button type="button" class="btn btn-outline-dark btn-block">Show all 48 amenities</button>
        <br>
      </div>

    </div>


  <%# // RIGHT COLUMN // %>
  <div class="col-md-5">
    <%# Reservation Form here %>
    <div class="col-md-4 position-sticky" style="top: 80px">
      <div class="card px-5 py-5" id="card1">
        <form>
          <div class="form-group">
            <h5><b>$<%= @listing.price %></b>  night</h5>
            <i class="fa-solid fa-star">4.5 . <span class="reviews">80 reviews</span></i>
          </div>

            <div class="reservations-wrapper">
              <div class="pb-4">
                <div class="border rounded-4 border-secondary">
                  <div class="d-flex rounded border-dark border-bottom">
                    <div class="w-50 text-left ps-3 py-3">
                      <div>CHECK-IN</div>
                      <div class="text-secondary">Add date</div>
                    </div>
                    <div class="w-50 text-left ps-3 py-3 border-start border-dark">
                      <div>CHECKOUT</div>
                      <div class="text-secondary">Add date</div>
                    </div>
                  </div>
                  <div class="w-100 text-left ps-3 py-3">
                    <div class="d-flex justify-content-between pe-4">
                      <div>GUESTS</div>
                      <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-secondary">1 guest</div>
                  </div>
                </div>
              </div>
            </div>
             <%= link_to "Reserve", new_listing_reservation_path(@listing), class: "btn btn-flat btn-red" %>
          </form>
            <div class="justify-content-center d-flex pt-4">
              <i class="fa-solid fa-flag pe-4 pt-1"></i>
              <u><p>Report this listing</p></u>
          </div>
        </div>
      </div>
    </div>
<%#  I AM JUST PUTTING THIS LINE HERE TO SAY ITS THE LATEST %>
</div>
