<div class="container">
  <h1>INSERT NAVBAR HERE</h1>
</div>
<br>
<div class="container">
  <ul class="nav d-flex justify-content">

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-icons"></i>
      <a class="nav-link active" aria-current="page" href="#">OMG!</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-person-shelter"></i>
      <a class="nav-link" href="#">Rooms</a>
    </li>
   <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
     <i class="fa-solid fa-umbrella-beach"></i>
    <a class="nav-link" href="#">Beach</a>
    </li>
   <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-mountain-sun"></i>
      <a class="nav-link" href="#">Amazing views</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-campground"></i>
      <a class="nav-link" href="#">Cabins</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-tractor"></i>
      <a class="nav-link" href="#">Farms</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
     <i class="fa-solid fa-star"></i>
     <a class="nav-link" href="#">Luxe</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-caravan"></i>
      <a class="nav-link" href="#">Camping</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-brands fa-slack"></i>
      <a class="nav-link" href="#">Ryokans</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-suitcase"></i>
      <a class="nav-link" href="#">Tiny Homes</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-chess-rook"></i>
      <a class="nav-link" href="#">Castles</a>
    </li>
  <% end %>

   <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-hurricane"></i>
      <a class="nav-link" href="#">Tropical</a>
    </li>
  <% end %>

  <%= link_to "#" do %>
    <li class="nav-item d-flex flex-column align-items-center">
      <i class="fa-solid fa-archway"></i>
      <a class="nav-link" href="#">Mansions</a>
    </li>
  <% end %>
  </ul>
</div>
<br>
<br>
<%# <div class="container d-flex justify-content-center ">
  <div class="card col-6 border border-radius-rounded">
   <div class="text text-align-justify mx-2 my-2">
    <p>Display all prices</p>
   </div>
  </div>
</div> %>

<div class="price-switcher-wrapper">
  <div class="text-dark p-2">Display all prices</div>
    <div class="my-2 px-2 flex-grow-1 border-start text-secondary">Includes all fees, before taxes</div>
     <div class="switch">
      <label class="switch">
      <input type="checkbox">
      <span class="slider round"></span>
      </label>
    </div>
  </div>
</div>
