<div class="container">
  <h1>Welcome, <%= @user.name %></h1>

  <br>

  <div>
    <h2 class="fs-4 text">Your Reservations </h2>
    <br>
    <br>
    <h3><%#= link_to "All reservations", "#", class: "d-flex btn btn-ghost text-dark" %></h3>
  </div>
  <div class="border-bottom">
    <%= link_to "Checking out (0)", "#", class: "btn btn-ghost text-dark" %>
    <%= link_to "Currently hosting (0)", "#", class: "btn btn-ghost text-dark" %>
    <%= link_to "Arriving soon (0)", "#", class: "btn btn-ghost text-dark" %>
    <%= link_to "Upcoming (0)", "#", class: "btn btn-ghost text-dark" %>
    <%= link_to "#", class: "btn btn-ghost text-dark" do %>
      Pending (<%= @reservations.length %>)
    <% end %>
  </div>

  <br>

  <div>
    <% if @reservations.length === 0 %>
      <p class="d-flex justify-content-center fw-medium m-5 border-bottom">You have no upcoming reservations.</p>
      <%# <p class="d-flex justify-content-center"> See all reservations</p> %>
    <% else %>
      <%# New style %>
      <div class="container d-flex justify-content-left">
        <div class="d-flex display-grid">
          <% @reservations.each do |reservation| %>
            <div class="reservations flex-column mx-2">
              <div style="position: relative;">
                <div class="reservation-header d-flex align-items-center" style="justify-content: space-between">
                  <h2 class="mb-3"><%= reservation.listing.name %></h2>
                  </div>
                <%= cl_image_tag(reservation.listing.images.first.key, style:'object-fit: cover; width: 18vw; height: 18vw; border-radius: 12px;')%>
                <%#= cl_image_tag(reservation.images.attached? ? reservation.listing.images.first.key : "https://res.cloudinary.com/dulb8hprm/image/upload/r_50/v1687072605/h3lvkbuk8vb9wpwatjc3.jpg", style:'object-fit: cover; width: 18vw; height: 18vw; border-radius: 12px;')%>
                  <p class="mt-3">Booked by: <%= reservation.user.name %></p>
                  <p>Booking from: <%= reservation.start_date %></p>
                  <p>Until: <%= reservation.end_date %></p>
                <%# Accept/ Decline buttons %>
                <div class="d-flex justify-content-evenly me-1">
                  <%= link_to "Accept", approve_reservation_path(reservation), class: "btn btn-gradient bg-success bg-gradient text-light" %>
                  <%= link_to "Decline", "#", class: "btn btn-gradient bg-danger bg-gradient text-light" %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <div class="d-flex justify-content-center border-top">
    <p>How can we make it easier to manage your reservations? Share your feedback</p>
  </div>



</div>
