<div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Airbnb your home", listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
            <i class="fa-solid fa-globe mx-2 nav-link"></i>
          </li>
          <li class="nav-item dropdown">
            <%= image_tag "pfp.png", class: "avatar dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <%#= image_tag "pfp.png", alt="Description of the image", class: "avatar dropdown-toggle mx-2", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="border-bottom">
              <%= link_to "Messages", "#", class: "dropdown-item" %>
              <%= link_to "Notifications", "#", class: "dropdown-item" %>
              <%= link_to "Trips", "#", class: "dropdown-item" %>
              <%= link_to "Wishlists", wishlists_path, class: "dropdown-item" %>
              </div>
              <div class="border-bottom">
              <%= link_to "Switch to hosting", reservations_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <%= link_to "Refer a host", "#", class: "dropdown-item" %>
              <%= link_to "Account", "#", class: "dropdown-item" %>
              </div>
              <div>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <%= link_to "Help", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </div>
          </li>
        <% else %>
          <li class="nav-item active">
            <%= link_to "Airbnb your home", listings_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-flex align-items-center">
            <%# <%= link_to "Messages", "#", class: "nav-link" %>
            <i class="fa-solid fa-globe mx-2 nav-link"></i>
          </li>
          <li class="nav-item dropdown d-flex align-items-center">
            <a class="fa-solid fa-circle-user avatar mx-2 text-secondary" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class=" text-secondary"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <div class="border-bottom">
              <%= link_to "Sign up", new_user_registration_path, class: "dropdown-item" %>
              <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
              </div>
              <div class="border-bottom">
              <%= link_to "Airbnb your home", listings_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              <%= link_to "Help", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
